<phpunit backupGlobals="false"         
         bootstrap="./tests/bootstrap.php"
         colors="true"         
         processIsolation="false"
         stopOnFailure="false"
         >
    <testsuites>
        <testsuite name="PhpProject Test Suite">
            <directory>./tests/PhpProject</directory>
        </testsuite>
    </testsuites>  
</phpunit>